Source: pycsp
Section: devel
Priority: optional
Maintainer: Rune M. Friborg <runef@diku.dk>
Standards-Version: 3.8.3
Build-Depends: debhelper (>=7.0.0), cdbs (>= 0.4.49), python-dev, python-support(>=0.8)

Package: pycsp
Architecture: all
Homepage: http://code.google.com/p/pycsp/
Depends: python-codespeak-lib, python (>=2.6), pyro (>=3.7) 
Description: Communicating Sequential Processes (CSP) for Python.
 PyCSP provides an API that can be used to write concurrent applications using CSP. 
 The API is implemented in four versions: Threads, processes, greenlets and net. 
 All implementations share an almost identical API making it trivial to switch 
 from one implementation to another.

